@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x:hidden;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}



.hover-double-underline::before,
.hover-double-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #38bdf8; /* sky-500 color */
  left: 0;
  transition: transform 0.3s ease; /* Duration of 0.5s for both lines */
}

.hover-double-underline::before {
  top: 0; /* Top underline */
  transform: scaleX(0);
  transform-origin: right; /* Starts from the right side */
}

.hover-double-underline::after {
  bottom: 0; /* Bottom underline */
  transform: scaleX(0);
  transform-origin: left; /* Starts from the left side */
}

.hover-double-underline:hover::before,
.hover-double-underline:hover::after {
  transform: scaleX(1);
}
